// import fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

// variables
$primary-background: #fff;
$primary-font: 'Exo 2', sans-serif;
$primary-font-size: 16px;
$primary-color: #262626;
$primary-line-height: 19px;
$content-slider-background: #fafafa;
$footer-height: 20px;

// reset style
@import 'reset';

// main style


@media all and (min-width: 768px) and (max-width: 959px) {
	@import 'medium';
}

@media all and (min-width: 960px) and (max-width: 1249px) {
	@import 'xmedium';
}

@media all and (min-width: 1250px) and (max-width: 1800px) {
	@import 'large';
}

@media all and (min-width: 1800px) {
	@import 'xlarge';
}