doctype html
html
    head
        title CreativeCult
        link(rel="stylesheet", href="style/style.css")


    body
        div(class="wrapper")
            header(class="head")
            section(class="content")
            footer(class="foot")

        script(src="js/main.js")