footer(class="footer uk-grid")
    div(class="uk-width-large-8-10") 
        p(class="footer__p1")
            sup &reg;
            |HookahSkills / Все права защищены 
            | &copy; 2018
    div(class="uk-width-large-2-10") 
        p(class="footer__p2")
            | Создано &mdash; 
            span(class="footer__span")
                span(class="footer__span line-throught") Creative
                |Cult