header(class="head uk-grid")
                
    div(class="uk-width-large-4-10 uk-width-medium-7-10 uk-margin-remove uk-padding-remove")
        img(class="head__img logo" src="img/svg/svg/Logo.svg" role="img")

    div(class="uk-width-large-2-10 uk-width-medium-1-10 uk-margin-remove uk-padding-remove")
        div(class="uk-flex uk-flex-row")
            img(class="head__img glass" src="img/Group 2.png")
            p(class="head__p") Колба на кальянах

    div(class="uk-width-large-3-10 uk-width-medium-1-10 uk-margin-remove uk-padding-remove")
        p(class="head__p") г.Краснодар, ул.Дзержинского, 100
        i(class="head__p__anchor uk-icon-anchor")

    div(class="uk-width-large-1-10 uk-width-medium-1-10 uk-margin-remove uk-padding-remove")
        p(class="head__p") +7 918 000 00 00
        i(class="head__p__phone uk-icon-phone")