div(class="content__main__slider")
    div(class="slider__item")

        img(class="content__main__img" src="img/colba_1.png", alt="")

        div(class="content__main__description")
            div(class="uk-block uk-block-muted")

                div(class="content__main__descriptions__details")

                    h1(class="details__h1") Колба Hookah Skills Clear
                    p(class="details__p") Наши колбы поставляются в индивидуальной фирменной коробке с ручкой, что приятно удивит и обрадует любого конечного пользователя

                    div(class="details__ch uk-grid")

                        div(class="uk-width-large-1-3")

                            div(class="uk-flex uk-flex-column")
                                p(class="details__ch__1") Высота
                                p(class="details__ch__2") 260 мм

                        div(class="uk-width-large-1-3")
                        
                            div(class="uk-flex uk-flex-column")
                                p(class="details__ch__1") Внутренний диаметр
                                p(class="details__ch__2") 46 мм (+- 1 мм)

                        div(class="uk-width-large-1-3")

                            div(class="uk-flex uk-flex-column")
                                p(class="details__ch__1") Внешний диаметр
                                p(class="details__ch__2") 70 мм (+- 2мм)

                        button(type="button" id="btn" class="details__ch__btn") Заказать прямо сейчас

    div(class="slider__item")
        img(class="content__main__img" src="img/colba_1.png", alt="")

        div(class="content__main__description")
        
            div(class="uk-block uk-block-muted")
                div(class="content__main__descriptions__details")

                    h1(class="details__h1") Колба Hookah Skills Clear
                    p(class="details__p") Наши колбы поставляются в индивидуальной фирменной коробке с ручкой, что приятно удивит и обрадует любого конечного пользователя

                    div(class="details__ch uk-grid")

                        div(class="uk-width-large-1-3")

                            div(class="uk-flex uk-flex-column")
                                p(class="details__ch__1") Высота
                                p(class="details__ch__2") 260 мм

                        div(class="uk-width-large-1-3")

                            div(class="uk-flex uk-flex-column")
                                p(class="details__ch__1") Внутренний диаметр
                                p(class="details__ch__2") 46 мм (+- 1 мм)

                        div(class="uk-width-large-1-3")

                            div(class="uk-flex uk-flex-column")
                                p(class="details__ch__1") Внешний диаметр
                                p(class="details__ch__2") 70 мм (+- 2мм)

                        button(type="button" id="btn" class="details__ch__btn") Заказать прямо сейчас

    a(href="" class="slider__prev" id="prev") &#10094;
    a(href="" class="slider__next" id="next") &#10095;

div(class="content__main__slider-dots")
    span(slider-dots__item onclick="currentSlide(1)")
    span(slider-dots__item onclick="currentSlide(2)")  